/* Import font dari folder kamu */
@font-face {
  font-family: "VivoSansStd";
  src: url("fonts/vivoSansStdVF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VivoSansComp600";
  src: url("fonts/vivoSansComp600_O.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}