/* Import font */
@font-face {
  font-family: "VivoSansStd";
  src: url("fonts/vivoSansStdVF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VivoSansComp600";
  src: url("fonts/vivoSansComp600_O.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Root */
:root {
  --dark-background-color: #051229;
  --dark-background-color2: #5f5f5f;
  --light-background-color: #fefefe;
  --light-background-color2: #f5f5f5;
  --dark-text-color: #2b2b2b;
  --light-text-color: #f2f2f2;
  --vivo-color: #415fff;
  --iqoo-color: #ffc000;
  --font-size: 0.8rem;
}

/* Setting margin dan padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting body */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  font-family: VivoSansStd;
  color: var(--light-text-color);
  background-color: var(--dark-background-color);
  background-image: url("img/pattern.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* NAVBAR START */
#container-navbar {
  height: clamp(40px, 6vh, 80px);
  margin: 0 1.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a img {
  display: block;
}
.logo,
.icon {
  height: 1.4rem;
}
.info p {
  font-size: var(--font-size);
  font-family: VivoSansStd;
  background-color: var(--iqoo-color);
  color: var(--dark-background-color);
  text-align: center;
  border-radius: 1rem 0 1rem 0;
  padding: 0.2rem 0;
  margin: 0.3rem 1.5rem 0 1.5rem;
  position: relative;
  z-index: 1;
}
/* NAVBAR END */

/* HEADER START */
#container-header {
  height: clamp(250px, 40vh, 560px);
  margin: -1.2rem 1.5rem 0 1.5rem;
  padding-top: 2rem;
  border-radius: 1rem 0 1.5rem 1.5rem;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 0 1px 10px rgba(255, 242, 204, 0.2);
}
.card {
  scroll-snap-align: start;
  flex: 0 0 100%;
  text-align: center;
}
#container-header .card h5 {
  color: var(--light-text-color);
  font-size: 2vh;
}
#container-header .card h5 span {
  color: var(--iqoo-color);
}
#container-header::-webkit-scrollbar {
  display: none;
}
#container-header::scroll-button(right),
#container-header::scroll-button(left) {
  content: ">";
  border: none;
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  background-color: var(--iqoo-color);
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: right center;
  translate: 0%;
}
#container-header::scroll-button(left) {
  content: "<";
  position-area: left center;
  translate: 0%;
}
#container-header::scroll-button(right):disabled,
#container-header::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}
#pic-perform,
#pic-alltype,
#pic-revenue,
#pic-profok,
#pic-qoala,
#pic-acc {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.pic {
  background-color: rgba(222, 222, 222, 0.2);
  margin: 1rem auto;
  height: clamp(100px, 10vh, 200px);
  width: clamp(100px, 10vh, 200px);
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 35px rgba(255, 192, 0, 0.8);
  overflow: hidden;
}
#cont-perform,
#cont-alltype,
#cont-revenue,
#cont-profok,
#cont-qoala,
#cont-acc {
  position: fixed;
  display: grid;
  height: 43%;
  width: 100%;
  overflow-y: auto;
}
#cont-perform::-webkit-scrollbar,
#cont-alltype::-webkit-scrollbar,
#cont-revenue::-webkit-scrollbar,
#cont-profok::-webkit-scrollbar,
#cont-qoala::-webkit-scrollbar,
#cont-acc::-webkit-scrollbar {
  display: none;
}
.perform,
.alltype,
.revenue,
.profok,
.qoala,
.acc {
  margin: 0.6rem auto 0 auto;
  height: 1.9rem;
  width: 85%;
  padding: 0.8rem 2rem;
  border-radius: 25px 0 25px 0;
  background-color: rgba(222, 222, 222, 0.2);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
#container-header::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.card::scroll-marker {
  content: "";
  height: 0.6rem;
  width: 0.6rem;
  background-color: var(--dark-background-color2);
  border-radius: 50%;
}
.card::scroll-marker:target-current {
  background-color: var(--iqoo-color);
}
/* HEADER END */

/* FOOTER START */
#container-footer {
  position: relative;
  width: 100%;
  bottom: 0;
  flex: 1;
  margin-top: 1.8rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background-color: var(--light-background-color);
}
.variant {
  position: absolute;
  top: 0;
  bottom: 6vh;
  width: 100%;
  color: #111;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 1.5rem 1.5rem 0 0;
}
.variant::-webkit-scrollbar {
  display: none;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  padding: 1rem;
  margin: 0.5rem auto;
  font-family: "VivoSansStd", sans-serif;
}

th {
  color: var(--dark-background-color);
  padding: 5px;
  background-color: var(--light-text-color);
}

td {
  font-family: "VivoSansStd", sans-serif;
  border-bottom: 1px solid var(--light-text-color);
  padding: 5px;
  text-align: center;
}

/* Header */
.stock-vivo th[colspan="5"] {
  background: var(--vivo-color);
  color: var(--light-text-color);
}

.stock-iqoo th[colspan="5"] {
  background: var(--iqoo-color);
  color: var(--dark-text-color);
}

.stock-vivo th[colspan="5"],
.stock-iqoo th[colspan="5"] {
  height: 25px;
  border-radius: 35px 35px 0 0;
  font-family: "VivoSansStd", sans-serif;
}

/* Variabel background per seri */
.y05series {
  --black-img: url("img/y05_black.png");
  --blue-img: url("img/y05_blue.png");
}
.y11dseries {
  --black-img: url("img/y11d_black.png");
  --platinum-img: url("img/y11d_white.png");
}
.y31dseries {
  --grey-img: url("img/y31d_grey.png");
  --white-img: url("img/y31d_white.png");
}
.y500series {
  --blue-img: url("img/y500_blue.png");
  --white-img: url("img/y500_white.png");
}
.v60liteseries {
  --black-img: url("img/v60lite_black.png");
  --blue-img: url("img/v60lite_blue.png");
  --pink-img: url("img/v60lite_pink.png");
}
.v70feseries {
  --blue-img: url("img/v70fe_blue.png");
  --silver-img: url("img/v70fe_silver.png");
  --purple-img: url("img/v70fe_purple.png");
}
.v70series {
  --brown-img: url("img/v70_brown.png");
  --gray-img: url("img/v70_gray.png");
  --gold-img: url("img/v70_gold.png");
}
.x300series {
  --black-img: url("img/x300_black.png");
  --blue-img: url("img/x300_blue.png");
  --pink-img: url("img/x300_pink.png");
  --black2-img: url("img/x300pro_black.png");
  --brown-img: url("img/x300pro_brown.png");
  --white-img: url("img/x300pro_white.png");
  --black3-img: url("img/x300ultra_black.png");
  --green-img: url("img/x300ultra_green.png");
}
.iqz11series {
  --black2-img: url("img/z11_black.png");
  --black-img: url("img/z11x_black.png");
  --blue-img: url("img/z11_blue.png");
  --silver-img: url("img/z11x_silver.png");
}
.iq15series {
  --black-img: url("img/15r_black.png");
  --silver-img: url("img/15r_silver.png");
  --alpha-img: url("img/15_alpha.png");
  --legend-img: url("img/15_legend.png");
}

/* Background mapping di level baris */
tr[data-color="black"] {
  background-image: var(--black-img);
}
tr[data-color="black2"] {
  background-image: var(--black2-img);
}
tr[data-color="black3"] {
  background-image: var(--black3-img);
}
tr[data-color="blue"] {
  background-image: var(--blue-img);
}
tr[data-color="white"] {
  background-image: var(--white-img);
}
tr[data-color="pink"] {
  background-image: var(--pink-img);
}
tr[data-color="purple"] {
  background-image: var(--purple-img);
}
tr[data-color="silver"] {
  background-image: var(--silver-img);
}
tr[data-color="grey"] {
  background-image: var(--grey-img);
}
tr[data-color="platinum"] {
  background-image: var(--platinum-img);
}
tr[data-color="gold"] {
  background-image: var(--gold-img);
}
tr[data-color="brown"] {
  background-image: var(--brown-img);
}
tr[data-color="alpha"] {
  background-image: var(--alpha-img);
}
tr[data-color="legend"] {
  background-image: var(--legend-img);
}
tr[data-color="green"] {
  background-image: var(--green-img);
}
tr[data-color="gray"] {
  background-image: var(--gray-img);
}

.iqz11series tbody tr[data-color="black"]:nth-of-type(3),
.iqz11series tbody tr[data-color="black"]:nth-of-type(5),
.x300series tbody tr[data-color="black"]:nth-of-type(7) {
  background-image: var(--black2-img);
}
.x300series tbody tr[data-color="black"]:nth-of-type(10),
.x300series tbody tr[data-color="black"]:nth-of-type(12) {
  background-image: var(--black3-img);
}

tr[data-color] {
  background-size: cover;
  background-position: center;
}

tr[data-color] td.memory,
tr[data-color] td.srp {
  background-color: var(--light-background-color);
  color: var(--dark-text-color);
  text-shadow: none;
}

/* Tone styling di level baris */
tr[data-tone="dark"] {
  color: var(--light-text-color);
  text-shadow: 0.5px 0.5px 1px black;
}
tr[data-tone="light"] {
  color: var(--dark-text-color);
}

/* Header dengan efek kilauan */
.kilau {
  position: relative;
  overflow: hidden;
  color: white;
  text-align: center;
  padding: 5px;
}

/* Overlay kilauan */
.kilau::after {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 75%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shine 5s infinite; /* setiap 5 detik */
}

@keyframes shine {
  0% {
    left: -75%;
  }
  50% {
    left: 125%;
  }
  100% {
    left: 125%;
  }
}

#y31d {
  padding-top: 2rem;
}

#y500 {
  padding-bottom: 2rem;
}

.container-profok {
  border-radius: 35px 35px 0 0;
}

.container-profok,
.container-profok tr[data-color] td.memory,
.container-profok tr[data-color] td.srp {
  background: rgba(255, 255, 0, 1);
}
.container-profok td {
  border-bottom: var(--iqoo-color) solid 1px;
}
/* TASKBAR START */
#container-taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: clamp(40px, 6vh, 80px);
  background-color: var(--light-background-color2);
  overflow: hidden;
  text-align: center;
}
#container-taskbar #scrollText {
  margin-top: 0.3rem;
  padding: 0.3rem 1.2rem;
  font-size: 0.6rem;
  font-style: italic;
  display: inline-block;
  color: var(--dark-text-color);
  background-color: var(--iqoo-color);
  border-radius: 1.2rem 0 1.2rem 0;
  white-space: nowrap;
  opacity: 0;
}
.animate {
  animation:
    scrollEase 3s ease-in-out forwards,
    fadeEase 3s ease-in-out forwards;
}
@keyframes scrollEase {
  0% {
    transform: translateX(150%);
  }
  10% {
    transform: translateX(0%);
  }
  90% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-150%);
  }
}
@keyframes fadeEase {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* TASKBAR & FOOTER END */

/* ====================== */
/* Mobile first (default) */
body {
  max-width: 100%;
  margin: 0;
  font-size: 12px;
}
/* Tablet */
@media (min-width: 768px) {
  body {
    max-width: 800px;
    margin: 0 auto;
    font-size: 12px;
  }
  table {
    width: 100%;
    padding: 0 6rem;
  }
  #container-taskbar {
    max-width: 800px;
  }
}
/* Laptop/Desktop kecil */
@media (min-width: 992px) {
  body {
    max-width: 800px;
    margin: 0 auto;
    font-size: 12px;
  }
}
/* Desktop besar */
@media (min-width: 1200px) {
  body {
    font-size: 12px;
  }
}
